doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="images/to-do-list.png", type="image/x-icon")
    title Node/Postgres Todo
    link(rel="stylesheet", href="css/styles.css")
  body
    .container
      h1 Welcome to the PERN stack
      .row  
        img(src="images/postgresql.png", alt="PostgreSQL")
        img(src="images/expressjs.png", alt="ExpressJS")
        img(src="images/reactjs.png", alt="React")
        img(src="images/nodejs.png", alt="NodeJS")
      a.get-started-btn(href="/app") Get Started

