@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-aubergine);
  color: #fff;
}

* {
  box-sizing: border-box;
  --ubuntu-orange: #e95420;
  --dark-aubergine: #2c001e;
  --mid-aubergine: #5e2750;
  --light-aubergine: #77216f;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-started-btn {
  font-size: 1rem;
  font-family: inherit;
  text-decoration: none;
  color: var(--ubuntu-orange);
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid var(--ubuntu-orange);
  border-radius: 4px;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: var(--ubuntu-orange);
  color: #fff;
}

.get-started-btn:active,
.get-started-btn:focus {
  outline: 0;
}

.get-started-btn:active {
  transform: scale(0.98);
}
